<%= form_tag({:action => :new}, :multipart => true) do %>
 

  <div class="field">
    <%= label_tag :upload_comment %><br />
    <%= text_field_tag :upload_comment %>
  </div>
  <div class="field">
    <%= label_tag :csv %><br />
    <%= file_field_tag :csv %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>


<% end %>


	