<h1>Listing reports</h1>

<div id = "reportsListAll">
<% @reports.each do |report| %>
	<h3><%= report.cardholder + " " + number_to_currency(report.total_amount)  %></h3>
	<div>
	<table class="box-table-a">
	<thead>  
	<tr>
	    <th>Cardholder</th>
	    <th>Date of charge</th>
	    <th>Description</th>
	    <th>Amount</th>
	    <th>Air route</th>
	    <th>Air traveler</th>
	    <th>User</th>
	    <th>Billable</th>
	    <th>Approved</th>
	    <th>Business purpose</th>
	    <th></th>
	    <th></th>
	    <th><label for="filter">Filter</label>  
		<input type="text" name="filter" value="" class="filter" /></th>
	  </tr>
    </thead>
    <tbody>
	<% report.charges.each do |charge| %>
	  <tr>
	    <td><%= charge.cardholder %></td>
	    <td><%= charge.date_of_charge %></td>
	    <td><%= charge.description %></td>
	    <td><%= charge.amount %></td>
	    <td><%= charge.air_route %></td>
	    <td><%= charge.air_traveler %></td>
	    <td><%= charge.user_id %></td>
	    <td><%= charge.billable %></td>
	    <td><%= charge.approved %></td>
	    <td><%= charge.business_purpose %></td>
	    <td><%= link_to 'Show', charge %></td>
	    <td><%= link_to 'Edit', edit_charge_path(charge) %></td>
	    <td><%= link_to 'Destroy', charge, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</tbody>
	</table>
	</div>
<% end %>
</div>
<br />

<%= link_to 'New Report', new_report_path %>
