<h1>Listing charges</h1>

<label for="filter">Filter</label>  
<input type="text" name="filter" value="" id="filter" />

<table id="box-table-a">
<thead>
  <tr>
    <th>Cardholder</th>
    <th>Date of charge</th>
    <th>Description</th>
    <th>Amount</th>
    <th>User</th>
    <th>Billable</th>
    <th>Approved</th>
    <th>Business purpose</th>
    <th></th>
  </tr>
</thead>
<tbody >
<% @charges.each do |charge| %>
  <tr>
    <td id ="jtable"><%= charge.cardholder %></td>
    <td id ="jtable"><%= charge.date_of_charge %></td>
    <td><%= charge.description %></td>
    <td><%= charge.amount %></td>
    <td><%= charge.user_id %></td>
    <td><%= charge.billable %></td>
    <td><%= charge.approved %></td>
    <td><%= charge.business_purpose %></td>
    <td><%= link_to 'Details', charge %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Charge', new_charge_path %>
