<!DOCTYPE html>
<html>
<head>
  <title>OpenConcur</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<% if current_user %>
Logged in as <%= current_user.email %>
<% end %>

<ul id="navigation" id>
	<li ><%= link_to "Reports", :controller => "reports", :action => "index" %> </li>
	<li><%= link_to "Charges", :controller => "charges", :action => "index" %> </li>
	<li><%= link_to "Upload AMEX CSV", :controller => "uploads", :action => "new" %> </li>
	<li><%= link_to "Charges", :controller => "charges", :action => "index" %> </li>
	<li><%= link_to 'Login', login_path %> </li>
</ul>



<body id="main">
 <div id="container">
<%= yield %>
</div>
</body>



</html>
